*~
*.pyc
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
*.a
*.so
*.dylib
/coremltools.build/
/deps/protobuf/cmake/coremltools.build/
/mlmodel/coremltools.build/
/build/
/envs/
/docs/_build/
/docs/generated/
/docs-guides/_build/
/*.egg-info/
/dist/
/envs/
.DS_Store
.vscode/
.cache/
.idea/
*.log
