stages:
  - check
  - build
  - test

#########################################################################
##
##                               Check
##
#########################################################################

check_python_flake8:
  tags:
    - macOS13
  stage: check
  script:
    - python -m pip install --upgrade pip
    - pip install flake8
    - flake8 ./coremltools --count --select=E9,F5,F63,F7,F82 --show-source --statistics


#########################################################################
##
##                         Build
##
#########################################################################

.build_macos: &build_macos
    stage: build
    script:
      - zsh -e scripts/build.sh --num-procs=4 --python=$PYTHON --dist
    artifacts:
      expire_in: 2 weeks
      paths:
        - build/dist/

build_wheel_macos_py37_intel:
  <<: *build_macos
  tags:
    - macOS13
  variables:
    PYTHON: "3.7"

build_wheel_macos_py39_intel:
  <<: *build_macos
  tags:
    - macOS13
  variables:
    PYTHON: "3.9"

build_wheel_macos_py310:
  <<: *build_macos
  tags:
    - macOS13_M1
  variables:
    PYTHON: "3.10"


#########################################################################
##
##                         Test
##
#########################################################################
.test_macos_pkg: &test_macos_pkg
   stage: test
   timeout: 12h
   script:
     - zsh -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON}
       --test-package=${TEST_PACKAGE} --requirements=${REQUIREMENTS} --fast

test_py39_coremltools_test_intel:
  <<: *test_macos_pkg
  tags:
    - macOS13
  dependencies:
    - build_wheel_macos_py39_intel
  variables:
    WHEEL_PATH: build/dist/*cp39*10_15*
    TEST_PACKAGE: coremltools.test
    PYTHON: "3.9"
    REQUIREMENTS: reqs/test.pip

test_py39_pytorch_intel:
  <<: *test_macos_pkg
  tags:
    - macOS13
  dependencies:
    - build_wheel_macos_py39_intel
  variables:
    PYTHON: "3.9"
    TEST_PACKAGE: coremltools.converters.mil.frontend.torch
    WHEEL_PATH: build/dist/*cp39*10_15*
    REQUIREMENTS: reqs/test.pip

test_py37_tf1_intel:
  <<: *test_macos_pkg
  tags:
    - macOS13
  dependencies:
    - build_wheel_macos_py37_intel
  variables:
    PYTHON: "3.7"
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow
    WHEEL_PATH: build/dist/*cp37*10_15*
    REQUIREMENTS: reqs/test_tf1.pip

test_py39_tf2_intel-1:
  <<: *test_macos_pkg
  tags:
    - macOS13
  dependencies:
    - build_wheel_macos_py39_intel
  variables:
    PYTHON: "3.9"
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow
    WHEEL_PATH: build/dist/*cp39*10_15*
    REQUIREMENTS: reqs/test_tf2.pip

test_py39_tf2_intel-2:
  <<: *test_macos_pkg
  tags:
    - macOS13
  dependencies:
    - build_wheel_macos_py39_intel
  variables:
    PYTHON: "3.9"
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow2
    WHEEL_PATH: build/dist/*cp39*10_15*
    REQUIREMENTS: reqs/test_tf2.pip

test_py39_mil_intel:
  <<: *test_macos_pkg
  tags:
    - macOS13
  dependencies:
    - build_wheel_macos_py39_intel
  variables:
    PYTHON: "3.9"
    TEST_PACKAGE: coremltools.converters.mil.mil
    WHEEL_PATH: build/dist/*cp39*10_15*
    REQUIREMENTS: reqs/test.pip

test_py39_backends_intel:
  <<: *test_macos_pkg
  tags:
    - macOS13
  dependencies:
    - build_wheel_macos_py39_intel
  variables:
    WHEEL_PATH: build/dist/*cp39*10_15*
    TEST_PACKAGE: coremltools.converters.mil.backend
    PYTHON: "3.9"
    REQUIREMENTS: reqs/test.pip

test_py39_shapes_intel:
  <<: *test_macos_pkg
  tags:
    - macOS13
  dependencies:
    - build_wheel_macos_py39_intel
  variables:
    WHEEL_PATH: build/dist/*cp39*10_15*
    TEST_PACKAGE: coremltools.converters.mil.test_inputs_outputs_shape
    PYTHON: "3.9"
    REQUIREMENTS: reqs/test.pip

test_py39_milproto_intel:
  <<: *test_macos_pkg
  tags:
    - macOS13
  dependencies:
    - build_wheel_macos_py39_intel
  variables:
    WHEEL_PATH: build/dist/*cp39*10_15*
    TEST_PACKAGE: coremltools.converters.mil.frontend.milproto
    PYTHON: "3.9"
    REQUIREMENTS: reqs/test_tf2.pip



test_py310_coremltools_test:
  <<: *test_macos_pkg
  tags:
    - macOS13_M1
  dependencies:
    - build_wheel_macos_py310
  variables:
    WHEEL_PATH: build/dist/*cp310*11*
    TEST_PACKAGE: coremltools.test
    PYTHON: "3.10"
    REQUIREMENTS: reqs/test.pip

test_py310_pytorch:
  <<: *test_macos_pkg
  tags:
    - macOS13_M1
  dependencies:
    - build_wheel_macos_py310
  variables:
    PYTHON: "3.10"
    TEST_PACKAGE: coremltools.converters.mil.frontend.torch
    WHEEL_PATH: build/dist/*cp310*11*
    REQUIREMENTS: reqs/test.pip

test_py310_tf2-1:
  <<: *test_macos_pkg
  tags:
    - macOS13_M1
  dependencies:
    - build_wheel_macos_py310
  variables:
    PYTHON: "3.10"
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow
    WHEEL_PATH: build/dist/*cp310*11*
    REQUIREMENTS: reqs/test_tf2.pip

test_py310_tf2-2:
  <<: *test_macos_pkg
  tags:
    - macOS13_M1
  dependencies:
    - build_wheel_macos_py310
  variables:
    PYTHON: "3.10"
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow2
    WHEEL_PATH: build/dist/*cp310*11*
    REQUIREMENTS: reqs/test_tf2.pip

test_py310_mil:
  <<: *test_macos_pkg
  tags:
    - macOS13_M1
  dependencies:
    - build_wheel_macos_py310
  variables:
    PYTHON: "3.10"
    TEST_PACKAGE: coremltools.converters.mil.mil
    WHEEL_PATH: build/dist/*cp310*11*
    REQUIREMENTS: reqs/test.pip

test_py310_backends:
  <<: *test_macos_pkg
  tags:
    - macOS13_M1
  dependencies:
    - build_wheel_macos_py310
  variables:
    PYTHON: "3.10"
    TEST_PACKAGE: coremltools.converters.mil.backend
    WHEEL_PATH: build/dist/*cp310*11*
    REQUIREMENTS: reqs/test.pip

test_py310_shapes:
  <<: *test_macos_pkg
  tags:
    - macOS13_M1
  dependencies:
    - build_wheel_macos_py310
  variables:
    PYTHON: "3.10"
    TEST_PACKAGE: coremltools.converters.mil.test_inputs_outputs_shape
    WHEEL_PATH: build/dist/*cp310*11*
    REQUIREMENTS: reqs/test.pip

test_py310_milproto:
  <<: *test_macos_pkg
  tags:
    - macOS13_M1
  dependencies:
    - build_wheel_macos_py310
  variables:
    PYTHON: "3.10"
    TEST_PACKAGE: coremltools.converters.mil.frontend.milproto
    WHEEL_PATH: build/dist/*cp310*11*
    REQUIREMENTS: reqs/test_tf2.pip



#########################################################################
##
##                        Make docs
##
#########################################################################
build_documentation:
  tags:
    - macOS13
  stage: test
  script:
    - export PATH=$PATH:/opt/anaconda/bin/
    - bash -e scripts/build_docs.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON}
  dependencies:
    - build_wheel_macos_py39_intel
  artifacts:
    when: always
    expire_in: 2 weeks
    paths:
      - _build/html/
  variables:
    WHEEL_PATH: build/dist/coremltools*cp39-none-macosx_10_15_x86_64.whl
    PYTHON: "3.9"
