stages:
  - check
  - build
  - test
  - collect

#########################################################################
##
##                               Check
##
#########################################################################

check_python_flake8:
  tags:
    - macos12
  stage: check
  script:
    - python -m pip install --upgrade pip
    - pip install flake8
    - flake8 ./coremltools --count --select=E9,F5,F63,F7,F82 --show-source --statistics

#########################################################################
##
##                         Build
##
#########################################################################

.build_macos: &build_macos
    tags:
       - macos12
    stage: build
    script:
      - zsh -e scripts/build.sh --num-procs=4 --python=$PYTHON --dist
    artifacts:
      expire_in: 2 weeks
      paths:
        - build/dist/

build_wheel_macos_py36:
  <<: *build_macos
  variables:
    PYTHON: "3.6"

build_wheel_macos_py37:
  <<: *build_macos
  variables:
    PYTHON: "3.7"

build_wheel_macos_py38:
  <<: *build_macos
  variables:
    PYTHON: "3.8"

build_wheel_macos_py39:
  <<: *build_macos
  variables:
    PYTHON: "3.9"

#########################################################################
##
##                         Test
##
#########################################################################
.test_macos_pkg: &test_macos_pkg
   stage: test
   timeout: 9h
   script:
     - zsh -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON}
       --test-package=${TEST_PACKAGE} --fast

.test_macos_pkg_with_reqs: &test_macos_pkg_with_reqs
   stage: test
   timeout: 10h
   script:
     - zsh -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON}
       --test-package=${TEST_PACKAGE} --requirements=${REQUIREMENTS} --fast

test_py37_coremltools_test:
  <<: *test_macos_pkg
  tags:
    - macos12
  dependencies:
    - build_wheel_macos_py37
  variables:
    WHEEL_PATH: build/dist/*cp37*10_15*
    TEST_PACKAGE: coremltools.test
    PYTHON: "3.7"

test_py37_pytorch:
  <<: *test_macos_pkg
  tags:
    - macos12
  dependencies:
    - build_wheel_macos_py37
  variables:
    PYTHON: "3.7"
    TEST_PACKAGE: coremltools.converters.mil.frontend.torch
    WHEEL_PATH: build/dist/*cp37*10_15*

test_py37_tf1:
  <<: *test_macos_pkg
  tags:
    - macos12
  dependencies:
    - build_wheel_macos_py37
  variables:
    PYTHON: "3.7"
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow
    WHEEL_PATH: build/dist/*cp37*10_15*

test_py37_tf2:
  <<: *test_macos_pkg_with_reqs
  tags:
    - macos12
  dependencies:
    - build_wheel_macos_py37
  variables:
    PYTHON: "3.7"
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow2
    WHEEL_PATH: build/dist/*cp37*10_15*
    REQUIREMENTS: reqs/test_tf2.pip

test_py37_mil:
  <<: *test_macos_pkg
  tags:
    - macos12
  dependencies:
    - build_wheel_macos_py37
  variables:
    PYTHON: "3.7"
    TEST_PACKAGE: coremltools.converters.mil.mil
    WHEEL_PATH: build/dist/*cp37*10_15*

#########################################################################
##
##                        Make docs
##
#########################################################################
build_documentation:
  tags:
    - macos12
  stage: test
  script:
    - export PATH=$PATH:/opt/anaconda/bin/
    - bash -e scripts/build_docs.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON}
  dependencies:
    - build_wheel_macos_py39
  artifacts:
    when: always
    expire_in: 2 weeks
    paths:
      - _build/html/
  variables:
    WHEEL_PATH: build/dist/coremltools*cp39-none-macosx_10_15_x86_64.whl
    PYTHON: "3.9"

#########################################################################
##
##                       Collect artifacts
##
#########################################################################
collect_artifacts:
  tags:
    - macos12
  stage: collect
  script:
    echo "Collect artifacts (wheels and documentation)"
  dependencies:
    - build_wheel_macos_py36
    - build_wheel_macos_py37
    - build_wheel_macos_py38
    - build_wheel_macos_py39
    - build_documentation
  artifacts:
    expire_in: 2 weeks
    paths:
      - build/dist/
