stages:
  - check
  - build
  - test
  - collect

#########################################################################
##
##                               Check
##
#########################################################################

check_python_flake8:
  tags:
    - docker
  image: "python:3.7"
  stage: check
  script:
    - python -m pip install --upgrade pip
    - pip install flake8
    - flake8 ./coremltools --count --select=E9,F63,F7,F82 --show-source --statistics


########################################################################
#
#                         linux - Build & Test
#
########################################################################

.build_linux: &build_linux
  tags:
    - docker
  stage: build
  script:
    - export PATH=$PATH:$HOME/miniconda3/condabin
    - bash -e scripts/build.sh --num-procs=4 --python=$PYTHON --dist
  artifacts:
    expire_in: 2 weeks
    paths:
      - build/dist/

build_wheel_linux_py27:
  <<: *build_linux
  image: registry.gitlab.com/zach_nation/coremltools/build-image-ubuntu-14.04:1.0.3
  variables:
    PYTHON: "2.7"


#########################################################################
##
##                         macOS - Build & Test
##
#########################################################################

.build_macos: &build_macos
    tags:
      - macos10.15
    stage: build
    script:
      - bash -e scripts/build.sh --num-procs=4 --python=$PYTHON --dist
    artifacts:
      expire_in: 2 weeks
      paths:
        - build/dist/

## Uses Python 2.7 from python.org (already on build machine)
build_wheel_macos_py27:
  <<: *build_macos
  variables:
    PYTHON: "2.7"

## Uses Python 3.5 from python.org (already on build machine)
build_wheel_macos_py35:
  <<: *build_macos
  variables:
    PYTHON: "3.5"

## Uses Python 3.6 from python.org (already on build machine)
build_wheel_macos_py36:
  <<: *build_macos
  variables:
    PYTHON: "3.6"

## Uses Python 3.7 from python.org (already on build machine)
build_wheel_macos_py37:
  <<: *build_macos
  variables:
    PYTHON: "3.7"

## Uses Python 3.8 from python.org (already on build machine)
build_wheel_macos_py38:
  <<: *build_macos
  variables:
    PYTHON: "3.8"

.test_macos_coremltools_test: &test_macos_coremltools_test
  stage: test
  script:
    - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --fast

.test_macos_pkg: &test_macos_pkg
  stage: test
  script:
    - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON}
      --test-package=${TEST_PACKAGE} --fast

.test_macos_pkg_with_reqs: &test_macos_pkg_with_reqs
  stage: test
  script:
    - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON}
      --test-package=${TEST_PACKAGE} --requirements=${REQUIREMENTS} --fast

test_macos11_py27_coremltools_test:
  <<: *test_macos_coremltools_test
  tags:
    - macos11
  dependencies:
    - build_wheel_macos_py27
  variables:
    WHEEL_PATH: build/dist/*cp27*10_16*
    PYTHON: "2.7"
  only:
    changes:
      - mlmodel/**/*
      - coremltools/test/**/*.{py}
      - coremltools/models/**/*.{py}
      - coremltools/converters/caffe/**/*.{py}
      - coremltools/converters/keras/**/*.{py}
      - coremltools/converters/libsvm/**/*.{py}
      - coremltools/converters/sklearn/**/*.{py}
      - coremltools/converters/xgboost/**/*.{py}

test_macos11_py37_coremltools_test:
  <<: *test_macos_coremltools_test
  tags:
    - macos11
  dependencies:
    - build_wheel_macos_py37
  variables:
    WHEEL_PATH: build/dist/*cp37*10_16*
    PYTHON: "3.7"
  only:
    changes:
      - coremltools/test/**/*.{py}
      - coremltools/models/**/*.{py}
      - coremltools/converters/caffe/**/*.{py}
      - coremltools/converters/keras/**/*.{py}
      - coremltools/converters/libsvm/**/*.{py}
      - coremltools/converters/sklearn/**/*.{py}
      - coremltools/converters/xgboost/**/*.{py}

test_macos11_py27_pytorch:
  <<: *test_macos_pkg
  tags:
    - macos11
  dependencies:
    - build_wheel_macos_py27
  variables:
    PYTHON: "2.7"
    TEST_PACKAGE: coremltools.converters.mil.frontend.torch
    WHEEL_PATH: build/dist/*cp27*10_16*
  only:
    changes:
      - coremltools/converters/mil/frontend/torch/**/*.{py}

test_macos11_py37_pytorch:
  <<: *test_macos_pkg
  tags:
    - macos11
  dependencies:
    - build_wheel_macos_py37
  variables:
    PYTHON: "3.7"
    TEST_PACKAGE: coremltools.converters.mil.frontend.torch
    WHEEL_PATH: build/dist/*cp37*10_16*
  only:
    changes:
      - coremltools/converters/mil/frontend/torch/**/*.{py}

test_macos11_py27_tensorflow1:
  <<: *test_macos_pkg
  tags:
    - macos11
  dependencies:
    - build_wheel_macos_py27
  variables:
    PYTHON: "2.7"
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow
    WHEEL_PATH: build/dist/*cp27*10_16*
  only:
    changes:
      - coremltools/converters/mil/frontend/tensorflow/**/*.{py}

test_macos11_py37_tensorflow1:
  <<: *test_macos_pkg
  tags:
    - macos11
  dependencies:
    - build_wheel_macos_py37
  variables:
    PYTHON: "3.7"
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow
    WHEEL_PATH: build/dist/*cp37*10_16*
  only:
    changes:
      - coremltools/converters/mil/frontend/tensorflow/**/*.{py}

test_macos11_py27_tensorflow2:
  <<: *test_macos_pkg_with_reqs
  tags:
    - macos11
  dependencies:
    - build_wheel_macos_py27
  variables:
    PYTHON: "2.7"
    REQUIREMENTS: reqs/test_tf2.pip
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow2
    WHEEL_PATH: build/dist/*cp27*10_16*
  only:
    changes:
      - coremltools/converters/mil/frontend/tensorflow2/**/*.{py}

test_macos11_py37_tensorflow2:
  <<: *test_macos_pkg_with_reqs
  tags:
    - macos11
  dependencies:
    - build_wheel_macos_py37
  variables:
    PYTHON: "3.7"
    REQUIREMENTS: reqs/test_tf2.pip
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow2
    WHEEL_PATH: build/dist/*cp37*10_16*
  only:
    changes:
      - coremltools/converters/mil/frontend/tensorflow2/**/*.{py}

test_macos11_py27_mil:
  <<: *test_macos_pkg
  tags:
    - macos11
  dependencies:
    - build_wheel_macos_py27
  variables:
    PYTHON: "2.7"
    TEST_PACKAGE: coremltools.converters.mil.mil
    WHEEL_PATH: build/dist/*cp27*10_16*
  only:
    changes:
      - coremltools/converters/mil/**/*.{py}

test_macos11_py37_mil:
  <<: *test_macos_pkg
  tags:
    - macos11
  dependencies:
    - build_wheel_macos_py37
  variables:
    PYTHON: "3.7"
    TEST_PACKAGE: coremltools.converters.mil.mil
    WHEEL_PATH: build/dist/*cp37*10_16*
  only:
    changes:
      - coremltools/converters/mil/**/*.{py}


#########################################################################
##
##                        Make docs
##
#########################################################################
build_documentation:
  tags:
    - docker
  stage: test
  image: registry.gitlab.com/zach_nation/coremltools/build-image-ubuntu-14.04:1.0.3
  script:
    - bash -e scripts/build_docs.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON}
  dependencies:
    - build_wheel_linux_py27
  artifacts:
    when: always
    expire_in: 2 weeks
    paths:
      - _build/html/
  variables:
    WHEEL_PATH: build/dist/coremltools*cp27-none-manylinux1_x86_64.whl
    PYTHON: "2.7"
  only:
    changes:
      - docs/**/*


#########################################################################
##
##                       Collect artifacts
##
#########################################################################
collect_artifacts:
  tags:
    - docker
  services:
    - docker:18.09-dind
  image: alpine:latest
  stage: collect
  script:
    echo "Collect artifacts (wheels and documentation)"
  dependencies:
    - build_wheel_macos_py27
    - build_wheel_macos_py35
    - build_wheel_macos_py36
    - build_wheel_macos_py37
    - build_wheel_macos_py38
  artifacts:
    expire_in: 2 weeks
    paths:
      - build/dist/
