stages:
  - build
  - test

# Uses Python 2.7 built from source (already on build image)
build_wheel_linux_py27:
  image: docker.apple.com/turi/build-image-centos6-python2.7:1801
  tags:
    - dockerized
  stage: build
  script:
    - $(which pip) install "numpy==1.14.5" six protobuf
    - mkdir bld
    - cd bld
    - timeout 5m cmake -DCMAKE_BUILD_TYPE=Release ..
    - timeout 20m make -j8
    - timeout 20m make dist
  artifacts:
    expire_in: 2 weeks
    paths:
      - bld/dist/

# Uses Python 3.5 built from source (already on build image)
build_wheel_linux_py35:
  image: docker.apple.com/turi/build-image-centos6-python3.5:1801
  tags:
    - dockerized
  stage: build
  script:
    - /usr/local/bin/pip3 install "numpy==1.14.5"
    - /usr/local/bin/pip3 install six
    - /usr/local/bin/pip3 install protobuf
    - mkdir bld
    - cd bld
    - timeout 5m cmake
      -DCMAKE_BUILD_TYPE=Release
      -DPYTHON_EXECUTABLE=/usr/local/bin/python3
      -DPYTHON_INCLUDE_DIR=/usr/local/include/python3.5m
      -DPYTHON_LIBRARY=/usr/local/lib/libpython3.so
      ..
    - timeout 20m make -j8
    - timeout 20m make dist
  artifacts:
    expire_in: 2 weeks
    paths:
      - bld/dist/

# Uses Python 3.6 built from source (already on build image)
build_wheel_linux_py36:
  image: docker.apple.com/turi/build-image-centos6-python3.6:1801
  tags:
    - dockerized
  stage: build
  script:
    - /usr/local/bin/pip3 install "numpy==1.14.5"
    - /usr/local/bin/pip3 install six
    - /usr/local/bin/pip3 install protobuf
    - mkdir bld
    - cd bld
    - timeout 5m cmake
      -DCMAKE_BUILD_TYPE=Release
      -DPYTHON_EXECUTABLE=/usr/local/bin/python3
      -DPYTHON_INCLUDE_DIR=/usr/local/include/python3.6m
      -DPYTHON_LIBRARY=/usr/local/lib/libpython3.so
      ..
    - timeout 20m make -j8
    - timeout 20m make dist
  artifacts:
    expire_in: 2 weeks
    paths:
      - bld/dist/

# Uses Python 3.7 built from source (already on build image)
build_wheel_linux_py37:
  image: docker.apple.com/sohaib_qureshi/coremltools-build-3.7
  tags:
    - dockerized
  stage: build
  script:
    - /usr/bin/pip3 install "numpy==1.14.5"
    - /usr/bin/pip3 install six
    - /usr/bin/pip3 install protobuf
    - mkdir bld
    - cd bld
    - cmake
      -DCMAKE_BUILD_TYPE=Release
      -DPYTHON_EXECUTABLE=/usr/bin/python3.7
      -DPYTHON_INCLUDE_DIR=/usr/include/python3.7m/
      -DPYTHON_LIBRARY=/usr/lib/python3.7/
      ..
    - make -j8
    - make dist
  artifacts:
    expire_in: 2 weeks
    paths:
      - bld/dist/

# Uses Python 2.7 from python.org (already on build machine)
build_wheel_macos_py27:
  tags:
    - macos10.15
  stage: build
  script:
    - mkdir bld
    - cd bld
    - /Library/Frameworks/Python.framework/Versions/2.7/bin/virtualenv
      --python=/Library/Frameworks/Python.framework/Versions/2.7/bin/python2 env
    - source env/bin/activate
    - pip install "numpy==1.14.5" six protobuf
    - /usr/local/bin/cmake --version
    - /usr/local/bin/cmake
      -DCMAKE_BUILD_TYPE=Release
      -DPYTHON_EXECUTABLE:FILEPATH=env/bin/python
      -DCMAKE_OSX_DEPLOYMENT_TARGET=10.13
      -DPYTHON_INCLUDE_DIR=env/include/python2.7
      -DPYTHON_LIBRARY=env/lib
      ..
    - make -j8
    - make dist
    - cd build
    - git clone --recursive https://github.com/dmlc/xgboost
    - cd xgboost
    - git checkout v0.82
    - make config=make/minimum.mk -j8
  artifacts:
    expire_in: 2 weeks
    paths:
      - bld/build/xgboost/
      - bld/dist/

# Uses Python 3.5 from python.org (already on build machine)
build_wheel_macos_py35:
  tags:
    - macos10.15
  stage: build
  script:
    - mkdir bld
    - cd bld
    - /Library/Frameworks/Python.framework/Versions/3.5/bin/python3 -m venv env
    - source env/bin/activate
    - echo "Get pip major version number:"
    - pipmajor=$(pip --version | awk '{print $2}' | cut -d. -f1)
    - if test "${pipmajor}" -le 9 ; then curl https://bootstrap.pypa.io/get-pip.py | python3 ; fi
    - pip3 install "numpy==1.14.5" six protobuf
    - /usr/local/bin/cmake --version
    - /usr/local/bin/cmake
      -DCMAKE_BUILD_TYPE=Release
      -DPYTHON_EXECUTABLE:FILEPATH=env/bin/python
      -DCMAKE_OSX_DEPLOYMENT_TARGET=10.13
      -DPYTHON_LIBRARY=env/lib
      -DPYTHON_INCLUDE_DIR=/Library/Frameworks/Python.framework/Versions/3.5/include/python3.5m
      .. || find /Library/Frameworks -iname Python.h
    - make -j8
    - make dist
    - cd build
    - git clone --recursive https://github.com/dmlc/xgboost
    - cd xgboost
    - git checkout v0.82
    - make config=make/minimum.mk -j8
  artifacts:
    expire_in: 2 weeks
    paths:
      - bld/build/xgboost/
      - bld/dist/

# Uses Python 3.6 from python.org (already on build machine)
build_wheel_macos_py36:
  tags:
    - macos10.15
  stage: build
  script:
    - mkdir bld
    - cd bld
    - /Library/Frameworks/Python.framework/Versions/3.6/bin/python3 -m venv env
    - source env/bin/activate
    - echo "Get pip major version number:"
    - pipmajor=$(pip --version | awk '{print $2}' | cut -d. -f1)
    - if test "${pipmajor}" -le 9 ; then curl https://bootstrap.pypa.io/get-pip.py | python3 ; fi
    - pip3 install "numpy==1.14.5" six protobuf
    - /usr/local/bin/cmake --version
    - /usr/local/bin/cmake
      -DCMAKE_BUILD_TYPE=Release
      -DPYTHON_EXECUTABLE:FILEPATH=env/bin/python
      -DCMAKE_OSX_DEPLOYMENT_TARGET=10.13
      -DPYTHON_LIBRARY=env/lib
      -DPYTHON_INCLUDE_DIR=/Library/Frameworks/Python.framework/Versions/3.6/include/python3.6m
      .. || find /Library/Frameworks -iname Python.h
    - make -j8
    - make dist
    - cd build
    - git clone --recursive https://github.com/dmlc/xgboost
    - cd xgboost
    - git checkout v0.82
    - make config=make/minimum.mk -j8
  artifacts:
    expire_in: 2 weeks
    paths:
      - bld/build/xgboost/
      - bld/dist/

# Uses Python 3.7 from python.org (already on build machine)
build_wheel_macos_py37:
  tags:
    - macos10.15
  stage: build
  script:
    - mkdir bld
    - cd bld
    - /Library/Frameworks/Python.framework/Versions/3.7/bin/python3 -m venv env
    - source env/bin/activate
    - echo "Get pip major version number:"
    - pipmajor=$(pip --version | awk '{print $2}' | cut -d. -f1)
    - if test "${pipmajor}" -le 9 ; then curl https://bootstrap.pypa.io/get-pip.py | python3 ; fi
    - pip3 install --upgrade pip
    - pip3 install wheel
    - pip3 install "numpy==1.14.5" six protobuf
    - /usr/local/bin/cmake --version
    - /usr/local/bin/cmake
      -DCMAKE_BUILD_TYPE=Release
      -DPYTHON_EXECUTABLE:FILEPATH=env/bin/python
      -DCMAKE_OSX_DEPLOYMENT_TARGET=10.13
      -DPYTHON_LIBRARY=env/lib
      -DPYTHON_INCLUDE_DIR=/Library/Frameworks/Python.framework/Versions/3.7/include/python3.7m
      .. || find /Library/Frameworks -iname Python.h
    - make -j8
    - make dist
    - cd build
    - git clone --recursive https://github.com/dmlc/xgboost
    - cd xgboost
    - git checkout v0.82
    - make config=make/minimum.mk -j8
  artifacts:
    expire_in: 2 weeks
    paths:
      - bld/build/xgboost/
      - bld/dist/

# Uses Python 2.7 built from source (already on build image)
test_wheel_linux_py27:
  image: docker.apple.com/turi/build-image-centos7-python2.7:1801
  tags:
    - dockerized
  stage: test
  dependencies:
    - build_wheel_linux_py27
  script:
    - pip install --upgrade pip
    - pip install bld/dist/*
    - pip install -r test_requirements.pip
    - pip install xgboost==0.7.post3
    - pytest -rfXs -m "not slow" coremltools/test

# Uses Python 3.6 built from source (already on build image)
test_wheel_linux_py36:
  image: docker.apple.com/turi/build-image-centos7-python3.6:1801
  tags:
    - dockerized
  stage: test
  dependencies:
    - build_wheel_linux_py36
  script:
    - pip3 install --upgrade pip
    - pip3 install bld/dist/*
    - pip3 install -r test_requirements.pip
    - pip3 install xgboost==0.7.post3
    - pytest -rfXs -m "not slow" coremltools/test

# Just a smoke test for 10.13 to ensure backward compatability
test_wheel_macos_13_py27_system:
  tags:
    - macos10.13-system_python
  stage: test
  dependencies:
    - build_wheel_macos_py27
  script:
    - /usr/local/bin/virtualenv venv
    - . venv/bin/activate
    - echo "Found pip at $(which pip)"
    - pip install --upgrade pip
    - pip install bld/dist/*cp27*10_13*
    - pip install -r test_requirements.pip
    - cd bld/build/xgboost/python-package
    - python setup.py install
    - cd ../../../..
    - pytest -rfXs -m "not slow" coremltools/test

# Uses Python 2.7 from python.org (already on build machine)
test_wheel_macos_13_py27:
  tags:
    - macos10.13
  stage: test
  dependencies:
    - build_wheel_macos_py27
  script:
    - /Library/Frameworks/Python.framework//Versions/2.7/bin/virtualenv venv
    - . venv/bin/activate
    - echo "Found pip at $(which pip)"
    - pip install --upgrade pip
    - pip install bld/dist/*cp27*10_13*
    - pip install -r test_requirements.pip
    - cd bld/build/xgboost/python-package
    - python setup.py install
    - cd ../../../..
    - pytest -rfXs -m "not slow" coremltools/test

# Uses Python 2.7 from python.org (already on build machine)
test_wheel_macos_14_py27:
  tags:
    - macos10.14
  stage: test
  dependencies:
    - build_wheel_macos_py27
  script:
    - /Library/Frameworks/Python.framework//Versions/2.7/bin/virtualenv venv
    - . venv/bin/activate
    - echo "Found pip at $(which pip)"
    - pip install --upgrade pip
    - pip install bld/dist/*cp27*10_14*
    - pip install -r test_requirements.pip
    - cd bld/build/xgboost/python-package
    - python setup.py install
    - cd ../../../..
    - pytest -rfXs -m "not slow" coremltools/test

test_wheel_macos_14_py36:
  tags:
    - macos10.14
  stage: test
  dependencies:
    - build_wheel_macos_py36
  script:
    - /Library/Frameworks/Python.framework//Versions/3.6/bin/virtualenv venv
    - . venv/bin/activate
    - echo "Found pip at $(which pip)"
    - pip3 install --upgrade pip
    - pip3 install bld/dist/*cp36*10_14*
    - pip3 install -r test_requirements.pip
    - cd bld/build/xgboost/python-package
    - python setup.py install
    - cd ../../../..
    - pytest -rfXs -m "not slow" coremltools/test

# Uses system Python 2.7 (already on build machine)
#test_wheel_macos_15_py27_system:
#  tags:
#    - macos10.15-system_python
#  stage: test
#  dependencies:
#    - build_wheel_macos_py27
#  script:
#    - /usr/local/bin/virtualenv venv
#    - . venv/bin/activate
#    - echo "Found pip at $(which pip)"
#    - pip install --upgrade pip
#    - pip install bld/dist/*cp27*10_15*
#    - pip install -r test_requirements.pip
#    - cd bld/build/xgboost/python-package
#    - python setup.py install
#    - cd ../../../..
#    - pytest -rfXs -m "not slow" coremltools/test

# Uses python 2.7 from python.org
test_wheel_macos_15_py27:
  tags:
    - macos10.15
  stage: test
  dependencies:
    - build_wheel_macos_py27
  script:
    - /Library/Frameworks/Python.framework//Versions/2.7/bin/virtualenv venv
    - . venv/bin/activate
    - echo "Found pip at $(which pip)"
    - pip install --upgrade pip --index https://pypi.apple.com/simple
    - pip install bld/dist/*cp27*10_15*
    - pip install -r test_requirements.pip --index https://pypi.apple.com/simple
    - pip install pytest --upgrade --index https://pypi.apple.com/simple
    - pip install pytest-xdist --ignore-installed --index https://pypi.apple.com/simple
    - cd bld/build/xgboost/python-package
    - python setup.py install
    - cd ../../../..
    - pytest -rfXs -m "not slow" coremltools/test

# Uses Python 3.5 from python.org (already on build machine)
test_wheel_macos_15_py35:
  tags:
    - macos10.15
  stage: test
  dependencies:
    - build_wheel_macos_py35
  script:
    - /Library/Frameworks/Python.framework//Versions/3.5/bin/virtualenv venv
    - . venv/bin/activate
    - echo "Found pip at $(which pip)"
    - pip3 install --upgrade pip
    - pip3 install bld/dist/*cp35*10_15*
    - pip3 install -r test_requirements.pip
    - cd bld/build/xgboost/python-package
    - python setup.py install
    - cd ../../../..
    - pytest -rfXs -m "not slow" coremltools/test

# Uses Python 3.6 from python.org (already on build machine)
test_wheel_macos_15_py36:
  tags:
    - macos10.15
  stage: test
  dependencies:
    - build_wheel_macos_py36
  script:
    - /Library/Frameworks/Python.framework//Versions/3.6/bin/virtualenv venv
    - . venv/bin/activate
    - echo "Found pip at $(which pip)"
    - pip3 install --upgrade pip
    - pip3 install bld/dist/*cp36*10_15*
    - pip3 install -r test_requirements.pip
    - cd bld/build/xgboost/python-package
    - python setup.py install
    - cd ../../../..
    - pytest -rfXs -m "not slow" coremltools/test

# Uses Python 3.7 from python.org (already on build machine)
test_wheel_macos_15_py37:
  tags:
    - macos10.15
  stage: test
  dependencies:
    - build_wheel_macos_py37
  script:
    - /Library/Frameworks/Python.framework/Versions/3.7/bin/virtualenv venv
    - . venv/bin/activate
    - echo "Found pip at $(which pip)"
    - pip3 install --upgrade pip
    - pip3 install bld/dist/*cp37*10_15*
    - pip3 install -r test_requirements.pip
    - cd bld/build/xgboost/python-package
    - python setup.py install
    - cd ../../../..
    - pip3 install pytest-xdist --ignore-installed --index https://pypi.apple.com/simple
    - pytest -rfXs -m "not slow" coremltools/test

collect_artifacts:
  tags:
    - docker
  services:
    - docker:18.09-dind
  image: alpine:latest
  stage: collect_artifacts
  dependencies:
    - build_dylib_ios_12
    - build_dylib_macos_10_14
    - build_wheel_linux_python27
    - build_wheel_linux_python35
    - build_wheel_linux_python36
    - build_wheel_linux_python37
    - build_wheel_mac_10_15_python27
    - build_wheel_mac_10_15_python35
    - build_wheel_mac_10_15_python36
    - build_wheel_mac_10_15_python37
  script:
    - mv release/src/deployment/*.dylib target/
    - rmdir -p release || find release
  artifacts:
    expire_in: 2 weeks
    paths:
      - target/

